body {
	background-color: rgb(210, 210, 210);
	color: rgb(20, 20, 20);
	text-align: center;
}

.error {
    background-color: #ee0000; /* Red */
    color: white;
}

table {
	width: 40%;
}

table, th, td {
	border: 1px solid black;
}

ol {
	list-style-position: inside;
	display: block;
}

ul {
	list-style-position: inside;
	display: block;
}